.footer {
  background-color: var(--primary-color);
}

.content--footer {
  padding-top: 80px;
  padding-bottom: 80px;
  column-gap: 40px;
}

.left {
  position: relative;
}

.left__logo {
  position: absolute;
  top: -36px;
  right: 0;
  width: 130px;
  height: 94px;
}

.left__link {
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: 700;
  background-color: #fff;
  color: rgb(1, 180, 228);
  font-size: 1.72rem;
  position: relative;
  top: 104px;
  line-height: 2.8rem;
  white-space: nowrap;
}

.right {
  display: flex;
  column-gap: 40px;
  row-gap: 40px;
  flex: 1;
}

.col {
  flex: 1;
  white-space: nowrap;
}

.col__title {
  font-size: 2rem;
  line-height: 2.8rem;
  color: #fff;
}

.col__link {
  font-size: 1.725rem;
  line-height: 2.4rem;
}
