@import './base.css';

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-weight: 400;
}

.btn {
  border-style: none;
  background-color: transparent;
  font-size: 1.6rem;
  font-family: var(--font-family);
}

.content {
  display: flex;
  max-width: var(--max-width);
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

/* Propover */
.propover-content {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid rgba(33, 37, 41, 0.15);
  border-radius: 4px;
  z-index: 99;
}

.propover-content::before {
  content: '';
  display: block;
  border: 7px solid #fff;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.propover-content-section {
  padding: 4px 0;
  border-top: 1px solid rgba(33, 37, 41, 0.15);
}

.propover-section-link {
  padding: 6px 20px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  display: block;
  font-size: 1.4rem;
  line-height: 2.16rem;
}

.propover-section-link:hover {
  background-color: var(--primary-color);
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dbdbdb;
}

.ml-40 {
  margin-left: 40px;
}
