@import './base.css';

ul {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-weight: 400;
}

.btn {
  border-style: none;
  background-color: transparent;
}

.content {
  display: flex;
  max-width: var(--max-width);
  width: 100%;
}
